/* position 속성 */
/* 1. static (기본 값) */
.box-static {
    background-color: gray;
    border: 2px solid red;
    width: 100px;
    height: 100px;

}
/* 2. absolute */
.box-absolute{
    position: absolute;
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    /* z 인덱스 가능 (0이 기본값 레이아웃 기능)*/
    /* 스테틱은 z인덱스 불가 */
    z-index: 10;
}
/* 3. relative 앱솔루트의 좌표 값을 조정하기 위해 사용(원래 있던 곳에서 이동시킴)*/
.box-relative{
    position: relative;
    background: blanchedalmond;
    width: 100px;
    height: 100px;
}
/* fixed 스크롤을 내려도 따라다님*/
.box-fixed{
    position: fixed;
    background-color: pink;
    width: 100px;
    height: 100px;
    top: 50px;
    right: 50px;
}